version: '3.8'

services:


  cassandra:
    image: cassandra:3.11
    container_name: cassandra
    restart: unless-stopped
    ports:
      - "9042:9042"
    healthcheck:
      test: ["CMD", "cqlsh", "127.0.0.1", "9042", "-e", "describe keyspaces"]
      interval: 10s
      timeout: 10s
      retries: 10
    volumes:
      - cassandra_data:/var/lib/cassandra

  app:
    build: .
    container_name: realtime-analytics-app
    depends_on:
      cassandra:
        condition: service_healthy
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      PYTHONUNBUFFERED: "1"
    restart: unless-stopped

volumes:
  cassandra_data:
